.material-design-icon
  @mixin icon-size $icon-size-normal

  &.icon-xs
    @mixin icon-size $icon-size-xs
  &.icon-sm
    @mixin icon-size $icon-size-sm
  &.icon-lg
    @mixin icon-size $icon-size-lg
  &.icon-2x
    @mixin icon-size $icon-size-2x
  &.icon-3x
    @mixin icon-size $icon-size-3x
