.vuetable
  @apply border w-full

  thead
    tr
      @apply border-b

      th
        @apply py-2 bg-blue-100 text-sm border

  tbody
    tr
      td
        @apply px-3 py-2 border

    .vuetable-empty-result
      @apply py-5