.color-picker-container
  @apply rounded-r border border-gray-400 p-2 flex justify-between items-center

.color-picker-input
  @apply rounded-l w-full z-0

.current-color
  @apply bg-black border relative
  height: 15px
  width: 15px

.color-picker
  @apply absolute z-10
  right: 100%
  top: 100%
